/*De propósito utilizei vários seletores para exercitar meus múscuclos celebrais */
:root {
   --color-background: #f1f7f8;
   --card-color: #fffefe;
   --sidebar-color: #0c57cf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--card-color);
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
}

.container {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
}

.header { 
    display: grid;
    grid-column: 2/3;
    grid-row: 1 /2;
    background-color: var(--card-color);
    box-shadow: 2px 2px 2px 1px #000000;
    padding: 1.5rem;

}

.title {
    font-size: 20px;
    margin-bottom: 25px;
}

 #title {
    margin-bottom: 5px;
    margin-top: 2px;
    font-size: 20px;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

#search-input {
    height: 30px;
    width: 50vw;
    border-radius: 20px;
    background-color: #f1f7f8;
    border: #ddd .5px solid;
}

.btn-search {
    background-color: #fffff0;
    border: none;
    cursor: pointer;
    transition: background-color 1s ease-in;
}

.btn-search:hover {
    background-color: #ECECEC;
}

.profile-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.profile-photo > 
.photo {
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    margin: 0 2rem;
}

.button {
    padding: 10px 20px;
    background-color: var(--sidebar-color);
    border: none;
    border-radius: 10px;
    color: #fffff0;
    margin: 1.3rem 15px;
    transition: background-color 500ms ease-in-out;
    box-shadow: 2px 2px 2px #03204e;
    cursor: pointer;
}

.button:hover {
    background-color: #062f70;
    animation: alternate moveButton 600ms ease-in-out forwards;
}

@keyframes moveButton {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

.profile {
    display: flex;
   align-items: center;
}

.name-perfil {
    margin: 5px;
}

.greeting {
    font-size: 14px;
    margin-left: 1rem;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--sidebar-color);
    padding: 2.8rem 1rem;
    color: #f0f0f0;
    width: 15vw;
}

.logo-dashboard {
    width: 2rem;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

 .logo-dashboard > 
 #icon-dashboard{
    width: 2rem;
}

.icon-image {
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    margin-left: 20px;
}

.icon {
    width: 24px;
    height: 24px;
    color: #333;
    margin: 5px;
}

ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 2.4rem;
    font-size: 16px;
    transition: color 1s ease;
    cursor: pointer;
}

li:hover{
    color: #ECECEC;
}

.img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 10px;
}

.trending > div {
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.greetings-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.greeting > span {
    font-size: 1rem;
    line-height: 2rem;
}

.greetings-area> .photo {
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
}

span {
    font-weight: 700;
    font-size: 1rem;
}

.settings-side {
    font-size: 16px;
    line-height: 2.4rem;
    margin-top: 25px;
}

.article {
    display: grid;
    grid-template-areas: 
    'article section';
    grid-template-columns: 2.5fr 1fr;
    background-color: var(--color-background);
    padding: 15px;
    gap: 20px;
    
}

.content-container { 
   display: grid;
   grid-template-columns: repeat(2, minmax(320px, 1fr));
   grid-template-rows: repeat(3, minmax(150px, 1fr));
   gap: 20px;
}

.share-images {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.share-images img {
    width: 1.4rem;
    margin-left: 2rem;
}

.new-container {
    display: grid;
    grid-template-areas: 
    'section' 
    'section';
}

.details {
    background-color: var(--card-color);
    box-shadow: 3px 3px 4px #ddd;
    border-radius: 15px;
    font-size: 12px;
}

.card {
    padding: 10px;
    margin: 10px;
}

.card h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.special-card {
    border-bottom: solid 1px #333333;
    border-top: solid 1px #333333;
}

.trending {
    background-color: var(--card-color);
    border-radius: 15px;
    box-shadow: 3px 3px 4px #cac9c9;
}

.trending > div {
    padding: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 12px;
    transition: background-color 600ms;
    cursor: pointer;
}

.card-one >div, 
.card-two>div, 
.card-three>div, 
.card-four>div, 
.card-five div {
    margin-left: 10px;
}

.trending> div:hover {
    background-color: #ECECEC;
}
.items {
    background-color: var(--card-color);
    padding: 1rem;
    border-left: solid #ec5b17 7px;
    border-radius: 15px;
    box-shadow: 2px 2px 3px #838282;
    font-size: 16px;
}

.items:hover {
    animation: cardMove 60ms alternate ease-in-out forwards;
}

@keyframes cardMove {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.01);
    }
}

.items h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer {
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: var(--sidebar-color);
    height: 15px;
    text-align: center;
    padding: 16px;
    color: #f0f0f0;
}

